@import 'inter/inter.css';

iframe {
  display: none;
}

.v-application {
  font-family: 'Inter', sans-serif !important;
}

// Vuetify overrides
.v-card__text, .v-card__title {
  word-break: normal !important;
}

.v-btn {
  text-transform: none !important;
}

.theme--dark.v-btn.secondary {
  color: rgba(0, 0, 0, 0.87);
}

// Alert
.v-alert#custom-alert {
  position: absolute;
  z-index: 1000;
  left: 7px;
  right: 7px;
  top: 7px; 
  background-color: #ffff;
  box-shadow: 0px 0px 5px 0 rgb(0 0 0 / 16%), 0px 0px 5px 0 rgb(0 0 0 / 16%);
}

.v-alert.theme--dark#custom-alert {
  background-color: rgb(68, 68, 68);
}

#custom-alert .mdi-check-circle {
  color: var(--v-success-base);
}

#custom-alert .mdi-alert-circle {
  color: var(--v-error-base);
}


// Light Theme
.theme--light.v-navigation-drawer svg{
  color: #bfc8d5;
}

svg text {
  user-select: none;
}

svg text::selection {
  background: none;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #e4e4e4; 
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e; 
}

// Light mode classes
  body {
    background: #F5F7FB;
    color: #5E5E5E;
  }

  .theme--dark.v-navigation-drawer svg{
    color: #525f71;
  }

  .home-bg {
    background: #f5f7fb;
  }

  .accent-btn {
    background-color: #f2f0f5;
  }
  
  .accent-btn.clickable:hover {
    background-color: #e9e7eb;
  }
  
  .accent-btn.clickable:active {
    background-color: #e1dee4;
  }

  // Tours
  .v-tour__target--highlighted, .v-step.tour-step.welcome{
    box-shadow: 0 0 0 99999px rgba(0,0,0,.4);
    border-radius: 0.5rem;
  }
// \Light mode classes

@media (prefers-color-scheme: dark) {
  body {
    background: #171923;
    color: white;
  }

  // Vuetify overrides
  .side-nav.theme--dark.v-navigation-drawer {
    background: #13151E;
  }

  .theme--dark.v-sheet {
    background-color: #13151E;
  }

  .home-bg {
    background: #202020;
  }

  .accent-btn {
    background-color: #202020;
  }
  
  .accent-btn.clickable:hover {
    background-color: #272727;
  }
  
  .accent-btn.clickable:active {
    background-color: #2b2a2a;
  }

  .v-tour__target--highlighted, .v-step.tour-step.welcome {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.7);
    border-radius: 0.5rem;
  }

}

.flex-fill {
  flex: 0 1 auto;
  overflow-y: auto;
}

.flex-fixed {
  flex: 0 0 auto;
}

.unselectable {
  user-select: none;
}

.accent-btn {
  border-radius: 1rem;
  font-size: large;
}

.accent-btn.clickable {
  cursor: pointer;
}



.custom-btn {
  padding: 1.7rem 4.5rem !important;
  font-size: 1.35rem !important;
  border-radius: 1rem;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.loader-container {
  position: relative;
}