.v-card__text, .v-card__title {
  word-break: normal !important;
}
svg text {
  user-select: none;
}
svg text::selection {
  background: none;
}
iframe {
    display: none; 
    // TODO
}

@media (prefers-color-scheme: light) {
  body {
    background: #F5F7FB;
    color: #5E5E5E;
  }

  // .side-nav {
  //   background: #f8f8f8;
  // }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #171923;
    color: white;
  }

  .side-nav.theme--dark.v-navigation-drawer {
    background: #13151E;
  }

}